/* Reserved for future alert styles */

.alert-scroller {
    white-space: nowrap;
    overflow: hidden;
    animation: scroll-left 40s linear infinite;
}

@keyframes scroll-left {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

.alert-message {
    display: inline-block;
    padding: 0 2rem;
    color: #FFFFFF;
    font-weight: bold;
    font-family: 'Polaris-Medium', sans-serif;
}