{% extends "base.html" %}

{% block content %}
<div class="display-board">
    <header class="board-header">
        <div class="go-logo">
            <img src="{{ url_for('static', filename='images/Type_Standard_Brand_GO_State_Black_dmvcea (1).svg') }}" alt="GO Transit Logo">
            <div class="station-info">
                <h1 class="station-name">{{ station }} - Train Departures | Départs des Trains</h1>
            </div>
        </div>
        <div class="time-container">
            <span class="station-icon"></span>
            <div class="time" id="currentTime">23:22:36</div>
        </div>
    </header>

    <main class="schedule-container">
        <div class="schedule-header">
            <div class="col-scheduled">Scheduled <br /> Programmé</div>
            <div class="col-to">To <br />  À</div>
            <div class="col-stop">Stop <br /> Arrêts</div>
            <div class="col-platform">Platform <br />  Quai</div>
        </div>
        <div id="scheduleRows" class="schedule-rows">
            <!-- Dynamic content will be inserted here -->
        </div>
    </main>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/display.js') }}"></script>
{% endblock %}